#EventDetails {
    --page-padding: 0 10px;
    max-width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 12px;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
    
}


::-webkit-scrollbar {
    display: none;
}

#EventDetails h1 {
    font-size: 1.6em;
    margin: 0;
    color: white;
}

#EventDetails h2 {
    font-size: 1.08em;
    margin: 0;
    font-weight: normal;
}

.txt-sm {
    font-size: 0.8em !important;
}


.details-heading {
    height: 519px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center top;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 1em;
    padding: 0 10px;

}

p {
    margin: 0;
}


.heading {
    display: flex;
    align-items: center;
    gap: 0.5em;
}

.rating {
    color: var(--star);
    font-weight: bolder;
}

.details-heading {
    z-index: 1;
}

.details-heading .event-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0) !important;
}

.following {
    color: white;
}

.details-heading .price {
-self: flex-end;
background-color: aliceblue;
padding: 0.65em 0.85em;
border-radius: 20px;
font-weight: bold;
}

.owner-details {
    background: linear-gradient(90.11deg, rgba(14, 38, 255, 0.15) 3.98%, rgba(255, 255, 255, 0.0293298) 232.8%, rgba(0, 0, 0, 0) 235.84%), rgba(217, 217, 217, 0.74);
border-radius: 1.2em;
padding: 0.5em 1em;
display: flex;
justify-content: space-between;
}



.follow {
    flex-shrink: 1;
    flex-basis: 75px;
    display: grid;
    place-items: center;
}

.btn-small {
    background: #7E8BFF;
    padding: 1em 2em;
    border-radius: 10px;
    font-weight: bold;
    color: white;
}


button, .btn {
    border: none;
    transition: filter ease 250ms;
}

button:hover, .btn:hover {
    filter: brightness(0.9);
    cursor: pointer;
}

button:active, .btn:active {
    filter: brightness(0.8);

}

section {
    margin: 2.8em 0;
}

section h2 {
    margin-bottom: 1em !important;
}

.event-body {
    padding: var(--page-padding);
}

.event-body h2 {
    font-weight: bolder !important;
}

.event-body p {
    margin: 0.5em 0;
    font-size: 1em;
}


.map {
    width: 100%;
    height: 200px;
    background-color: lightgrey;
    border-radius: 1em;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.map img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.accessibility-grid {
    /* USESE ACC-TAG FOR CHILDREN ELEMENTS*/
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-rows: 30px;
    column-gap: 0.4em;
    row-gap: 0.8em;
}


.accessibility-grid div {
    background-color: var(--light-grey);
}


.ticket-row {
    display: grid;
    margin: 1em 0;
    grid-template-columns: 2fr 1fr 1fr;
    align-items: center;
}



.ticket-row label {
    flex-basis: 3;
}

.reviews-container {
    display: grid;
    grid-auto-columns: calc(var(--screen-width)*0.65);
    column-gap: 2.5em;
    overflow-y: auto;
    grid-auto-flow: column;
    padding: 1em ;
}

.no-padding {
    margin: 0 -10px;
}


.columns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
}

.floating-header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    font-size: 1em;
    font-weight: bold;
    color: white;
    padding: 1em;
    padding-bottom: 20px;
    /* background: linear-gradient(#0000008a 10%, #00000096 90%,#00000000); */
}

.timebar {
    font-size: 1.4em;
}

.status {
    display: flex;
    gap: 0.4em;
}



.event-header {
    text-align: center;
    display: flex;
    justify-content: center;
    font-size: 1.5em;
    margin-top: 2em;;
}

.event-header .icon {
    width: 2em;
    height: 2em;
    border-radius: 20px;
    color: white;
    background-color: rgba(126, 126, 126, 0.726);
}

.event-header .icon:visited {
    color: white !important;
}

.floating-footer {
    position: sticky;
    bottom: 0;
    left: 0;
    z-index: 10;
    display: flex;
    width: 100%;
    font-size: 1.8em;
    font-weight: bold;
    display: flex;
}

.floating-footer button, .floating-footer .btn {
    font:inherit;
    background-color: var(--primary-blue);
    color: white;
    border-radius: 1.2em;


}

.floating-footer > * {
    padding: 0.4em;
}

.floating-footer .like {
    flex-shrink: 1;
}

.like-btn {
    width: 50px;
    height: 50px;
    border-radius: 1em;
    transition: transform 250ms ease-out;
}

.like-btn:active {
    width: 50px;
    height: 50px;
    transform: scale(0.9);

}

@keyframes like-event {
    0% {
        transform: scale(0.9);
    }

    100% {
        transform: scale(1.1);
    }
}


.like-btn.liked {
    background-color: var(--light-grey) !important;
    color: black !important;
}

.floating-footer .purchase {
    flex-grow: 1;
}

.purchase-btn {
    width: 100%;
    height: 100%;
transition: transform 150ms ease-out;

}

.purchase-btn:active {

    transform: scale(0.9);

}


.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}