.card-section {
  display: flex;
  flex-flow: row nowrap;
  overflow-x: scroll;
  width: 100%;
}
.sectionName {
  width: 100%;
  margin-left: 1em;
  font-family: "Montserrat";
  font-size: 12px;
  font-weight: 600;
  margin-bottom: 0.4em;
}
.event-card-wrap {
  width: 40vw;
  margin-left: 1em;
}
.event-img img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.event-card {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  height: 200px;
  margin-bottom: 1em;
  position: relative;
}
.event-ratings {
  font-size: 9px;
  margin-left: 0.5em;
  opacity: 0.7;
}
.event-name {
  font-size: 11px;
  font-weight: 700;
  margin: 4px 0 4px 0.5em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  background-color: white;
}
.event-price {
  font-size: 10px;
  margin-left: 0.5em;
}
.backBtn {
  font-family: "Montserrat";
  font-size: 10px;
  font-weight: 400;
  margin: 2em 0 2em 0.4em;
}
.backBtnImg {
  width: 20px;
  height: 20px;
  margin-bottom: 3px;
  margin-left: 0.8em;
  transition: transform 0.3s ease;
}
.back {
  display: flex;
  align-items: center;
}
.backBtnImg:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.heart {
  position: absolute;
  top: 0px;
  right: 10px;
  font-size: 24px;
  color: rgb(255, 255, 255);
  transition: color 0.3s ease;
}

.heart:hover {
  cursor: pointer;
}
.heart.active {
  color: rgb(255, 0, 43);
  cursor: pointer;
  transform: scale(1.1);
}
.shadow1 {
  padding: 4px;
  position: absolute;
  top: 122px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 1)
  );
}
