@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

.community {
    font-family: 'Inter', sans-serif;
    margin-bottom: 40px;
}

.community-main {
    display: flex;
    flex-flow: column nowrap;
    justify-content: flex-end;
    color: #FFFFFF;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 320px;
    background-repeat: no-repeat;
}

.community-main h1 {
    font-weight: 600;
    font-size: 1.25em;
    margin: 0 4%;
}

.community-main p {
    font-weight: 400;
    font-size: 0.625em;
    margin: 0 0 15px 4%;
}

.community-section {
    display: flex;
    flex-flow: column nowrap;
    margin: 25px 4% 0 4%;
}

.community-section > h2{
    margin: 0 0 12px 0;
    font-size: 0.875em;
    font-weight: 600;
}

.community-section button {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    color: white;
    background: #7E8BFF;
    border-radius: 30px;
}

.community-section a {
    text-decoration: none;
    align-self: center;
}


.community-section > a > button {
    padding: 0.25em 1em;
}

.community-section > button {
    font-size: 0.875em;
    height: 27px;
    padding: 0 5%;
    align-self: center;
}

.brief-item {
    color: white;
    height: 60px;
    width: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    justify-content: space-between;
    display: flex;
    flex-flow: row nowrap;
    margin-bottom: 20px;
}

.brief-item-text {
    display: flex;
    width: 70%;
    flex-flow: row nowrap;
    align-items: flex-end;
    align-self: flex-end;
    gap: 2%;
    margin-left:2%;
}

.brief-item-text h3 {
    font-weight: 600;
    text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.8);
    font-size: 0.875em;
    margin-bottom: 3px;
}

.brief-item-text p {
    font-size: 0.625em;
    margin-bottom: 5px;
}

.dot {
    font-size: 1em !important;
    margin-bottom: 0 !important;
} 

.brief-item button {
    font-size: 0.75em;
    height: 28px;
    width: 20%;
    align-self: center;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 30px;
    margin-right: 4%;
}

.brief-item a {
    color: inherit;
}

