.footer {
    position: sticky;
    bottom: -1px;
    background-color: var(--primary-blue);
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    height: 80px;
}

.footer-icon {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    margin: 0 4%;
    padding: 1%;
    color: white;
    cursor: pointer;
}

.footer-icon:hover {
    background: rgba(230, 242, 255, 0.17);
    border-radius: 10px;
}