@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");

.header {
  position: sticky;
  top: 0;
  background-color: var(--primary-blue);
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  z-index: 10;
  height: 100px;
  z-index: 1;
}

.header h2 {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 1.25em;
  line-height: 1.5em;
  color: #ffffff;
  margin: 0;
}

.header-section {
  width: 100%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.header-section img {
  cursor: pointer;
}

#img-account {
  margin-left: 5%;
  max-width: 10%;
}

#img-bell {
  margin-right: 5%;
  max-width: 8%;
}

.search-bar {
  height: 30px;
  width: 92%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  background: #ffffff;
  border: 0.2px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.06);
  border-radius: 10px;
}

.search-bar img {
  max-width: 5%;
  margin: 0 2%;
}

.search-bar input {
  width: 80%;
  font-family: "Inter";
  font-weight: 300;
  font-size: 0.6em;
  color: #c0c0c1;
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
