#root {

    max-width: var(--screen-width);
    height: min(100%,var(--screen-height));
    min-height: calc(var(--screen-height) * 0.65);
    overflow-y: auto;
    flex-grow: 1;
    border: 1px solid lightslategray;
    background-color: white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.349);
}