@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}
/* ROOT TITLE SECTION */

.root-title-container {
  height: 100%;
  display: flex;
  justify-content: center;
  color: white;
  align-items: center;
  font-family: 'Montserrat';
  flex-shrink: 1;
  
}
.root-title-box {
  padding: 2em;
  border-radius: 20px;
  font-size: 1.75em;
  font-weight: normal;
}

.root-title-container p {
  white-space: nowrap;
}

@media screen and (max-width: 1260px) {

 .other-box {
    display: none;
  }

  .root-title-container {
    flex: 0;
    flex-shrink: 1;
  }

}

@media screen and (max-width: 870px) {

  .other-box {
     display: none;
   }
 
   .root-title-container {
     display: none;
   }
 
 }
 


.root-title-box > h1 {
  margin: 0;
  font-weight:600;
}

.root-title-box > .text-shadow {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.219);;
}

html {
  width: 100vw;
  height: 100vh;
  --screen-width: 393px;
  --screen-height: 852px;

  /* color pallet */
  --light-grey: rgba(238, 238, 238, 1);
  --primary-blue:rgba(126, 139, 255, 1);
  --blue-variant: #646fcc;
  --star: #FFDA15;
}

*,*::before,*::after {
  box-sizing: border-box;
}

body {
  /* background-color: lightgray; */

  background: linear-gradient( rgb(177, 183, 250) 0%, #7784f8 100%);
  background-color: #ffffff;
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

body > * {
  flex: 1;
}


.fs {
  flex-shrink: 1;
}

.fg {
  flex-grow: 1;
}


.shadow {
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.185);
}

.text-shadow {
  text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.719);;
}

.va {
  display: flex;
  justify-content: center;
  align-items: center;
}

.fsb {
  display: flex;
  justify-content: space-between;
}